# Python artifacts
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
build/
dist/
*.egg-info/

# Virtual environments
venv/
venv311/
.venv/

# Editor/OS noise
.DS_Store
.idea/
.vscode/
*.swp
*.swo
.run/
out/

# Local config
m7200.ini
m7200.session.json
